.home-card {
  color: whitesmoke;
  /* test */
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-basis: 100;
}

.title {
  font-size: 60px;
}

.intro {
  font-size: 30px;
}

.title, .intro {
  font-family: 'Caveat', cursive;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 20vw);
  gap: 15px;
}


.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .home-card {
    display: flex;
    flex-wrap: wrap;
  }
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-bottom: 40px;
  }
  .intro {
    display: none;
  }
  .gallery {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 40vw);
    gap: 10px;
  }
  /* .gallery__img {
    width: 40%;
  } */
}