.random-wrapper {
  display: flex;
}

.random-artist-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-top: 50px;
}

.random-song {
  margin-top: 80px;
}

@media screen and (max-width: 640px) {
  .random-artist-cards {
    margin-top: 0;
    /* test: */
    /* width: 30px;
    height: auto; */
  }
  /* test */
  /* .primary-text,
  .secondary-text {
    text-align: left;
  } */
}