.random-wrapper {
  display: flex;
}

.random-artist-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-top: 50px;
}

.random-song {
  margin-top: 80px;
}
