.random-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.random-artist-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.song-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.random-song {
  margin-top: 80px;
  width: 75%;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .random-artist-cards {
    margin-top: 0;
  }
  .random-song {
    display: flex;
    width: 100%;
    margin-top: 40px;
  }
  .random-song .song-card {
    background: #192734;
  }
}