.search-container {
  display: flex;
}

#form-icon {
  border-radius: 25px 0 0 25px;
  margin-left: 16px;
}

form.input-search {
  margin-left: 20px;
}

#form-icon,
#form-search {
  margin-top: 20px;
}

input#form-search.large {
  width: 300px;
}

input.large {
  display: inline-block;
}

input.small {
  display: none;
}

#input-group-dropdown {
  margin-top: 20px;
  border-radius: 0 25px 25px 0;
}

button:focus, input {
  box-shadow: none !important;
  outline: none !important;
}

#search-btn {
  color: whitesmoke;
  background: black;
  margin-top: 20px;
  margin-left: 16px;
  border-radius: 10px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 1rem;
}

.response-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .search-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .search-form {
    justify-content: center;
  }
  .input-search {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  input.large {
    display: none;
  }
  input.small {
    display: inline-block;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .response-cards {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    /* orig 50px: */
    /* margin-top: 50px; */
    margin-top: 25px;
    width: 95%;
  }
  /* #response-data.response-cards {
    margin-top: 20px;
  } */
  .response-cards .album-card.card {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}