.search-form {
  display: flex;
  flex-direction: row;
  width: 700px;
  /* background: black; */
}

/* .search-container.search-form {
  display: flex;
  flex-grow: 2;
  width: 100%;
} */

#form-icon {
  border-radius: 25px 0 0 25px;
  margin-left: 16px;
}
/* shorthand property:  border-top-left-radius, border-top-right-radius, border-bottom-right-radius and border-bottom-left-radius properties. */

#form-icon,
#form-search {
  margin-top: 20px;
}

#input-group-dropdown {
  margin-top: 20px;
  border-radius: 0 25px 25px 0;
  /* color: whitesmoke;
  background: black; */
}

/* #input-group-dropdown:hover {
  box-shadow: none !important;
  outline: none !important;
} */

button:focus, input {
  box-shadow: none !important;
  outline: none !important;
}

/* button:hover, input:hover {
  outline: none;
} */

.content-wrapper {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  width: 100%;
  /* margin-left: 40px; */
  flex-wrap: wrap;
}

/* ???? where is this: */
/* .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 100%;
  height: 100%;
} */
.response-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}
