.album-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 186px);
  grid-auto-rows: auto;
  margin: 1rem;
}

.album-cards>* {
  height: 320px;
}

.album-card.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 200px;
  cursor: pointer;
  color: whitesmoke;
  background: #303030;
  border-radius: 4px;
  padding: .5rem;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, .25);
}

#album-img {
  padding-top: 10px;
}

.album-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
}

.album-secondary-text {
  font-weight: 100;
}

@media screen and (max-width: 640px) {
  .album-cards {
    display: flex;
    margin-top: 0;
    width: 90%;
  }
  .album-card.card {
    flex-direction: row;
    align-items: center;
    height: 90px;
    width: 275px;
  }
  #album-img {
    display: flex;
    flex-direction: row;
    max-height: 50px;
    max-width: 64px;
    margin-left: .45rem;
    padding-top: 0;
  }
  .album-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: 16px;
  }
  .album-name {
    font-size: 14px;
    max-width: 100px;
    text-align: center;
    /* padding-top: 12px; */
  }
  .album-secondary-text {
    font-size: 12px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 90px;
  }
}