.artist-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 186px);
  grid-auto-rows: auto;
  margin: 1rem;
  /* width causes cards to be column not row: */
  /* width: 100%; */
}

.artist-cards>* {
  height: 320px;
}

.artist-card.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  cursor: pointer;
  color: whitesmoke;
  background: #303030;
  cursor: pointer;
  border-radius: 4px;
  padding: .5rem;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, .25);
}

@media screen and (max-width: 640px) {
  .artist-cards {
    display: flex;
    width: 75%;
  }
  .artist-cards>* {
    height: 100px;
  }
  .artist-card.card {
    padding: .25rem;
    width: 250px;
    height: 75px;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  #artist-img {
    display: flex;
    flex-direction: row;
    max-height: 50px;
    max-width: 64px;
    margin-left: .45rem;
  }
  .artist-name {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
  }
}