.spotify-logo {
  font-size: 64px;
  color: #1db954;
  cursor: pointer;
}

.pro-sidebar.toggled .spotify-logo {
  font-size: 40px !important;
}

@media screen and (max-width: 415px) {
  .spotify-logo {
    display: none;
  }
}
