/* test */
/* .sidebar-content {
  height: 100vh;
} */
/* end test */

.spotify-logo {
  font-size: 64px;
  color: #1db954;
}

@media screen and (max-width: 400px) {
  .spotify-logo {
    display: none;
  }
}
