.song-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 900px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

}

/* #song-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 900px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
} */

.song-cards>* {
  /* margin-top: 50px; */
  /* height: 100px; */
  /* width: 900px; */
}

#song-cards>* {
  /* margin-top: 50px; */
  /* height: 320px; */
  /* width: 900px; */
}

/* the card itself (inside) */
.song-card.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 100%;
  cursor: pointer;
  color: whitesmoke;
  background: #303030;
  cursor: pointer;
  border-radius: 4px;
  padding: .5rem;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, .25);
  text-align: left;
}

#song-card.card {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 100%;
  cursor: pointer;
  color: whitesmoke;
  background: #303030;
  cursor: pointer;
  border-radius: 4px;
  padding: .5rem;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, .25);
  /* text-align: left; */
}

.song-img {
  display: flex;
  /* width: 50%; */
  /* height: 80%; */
  height: 64px;
  width: 64px;
  /* align-items: center; */
}

.secondary-text {
  font-weight: 200;
  color: whitesmoke;
}