.song-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 900px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

/* the card itself (inside) */
.song-card.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: whitesmoke;
  background: #303030;
  cursor: pointer;
  border-radius: 4px;
  padding: .5rem;
  margin: .5rem;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, .25);
}

.song-img {
  display: flex;
  height: 64px;
  width: 64px;
}

.secondary-text, .song-duration {
  font-weight: 100;
  color: whitesmoke;
}

.primary-text,
.secondary-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

@media screen and (max-width: 640px) {
  .song-cards {
    align-items: flex-start;
  }
  .song-card.card {
    text-align: center;
    width: 250px;
  }
  .song-img {
    display: none;
  }
  /* test: */
  .primary-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }
  /* end test */
  .secondary-text {
    display: none;
  }
}