.song-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 900px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

}

/* .song-card {
  flex-direction: row;
  justify-content: center;
} */

/* .song-cards>* {
  flex-direction: row;
  justify-content: center;
} */

/* the card itself (inside) */
.song-card.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: whitesmoke;
  background: #303030;
  cursor: pointer;
  border-radius: 4px;
  padding: .5rem;
  margin: .5rem;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, .25);
  text-align: left;
}

.song-img {
  display: flex;
  height: 64px;
  width: 64px;
}

.secondary-text {
  font-weight: 200;
  color: whitesmoke;
}