* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Baloo Tammudu 2',
  cursive; */
}

/* Not working: */
body {
  font-family: 'Baloo Tammudu 2', cursive;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.content {
  margin-top: 20px;
}
